.filter {
    width: 100%;
    display: flex;
    flex-direction: column;
}

@media(max-width:768px) {
    .filter__agl {
        font-size: 1.8rem;
    }
}

@media(max-width:500px) {
    .filter {
        margin-bottom: 20px;
    }
}